<div class="column-half">
  <div class="input-group">
    <label>City</label>
    <input type="text" placeholder="Chicago">
  </div>
</div>
<div class="column-half">
  <div class="input-group">
    <label>State</label>
    <input type="text" placeholder="Last Name">
  </div>
</div>
<div class="column-half">
  <div class="input-group">
    <label>Birthdate</label>
    {{> templates/ui/date-input }}
  </div>
</div>
<div class="column-half">
  <div class="input-group">
    <label>Phone Number</label>
    <input type="text" class="dark_placeholder" placeholder="   -   -    ">
  </div>
</div>